@import './element-ui.scss';
@import './mixin.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !important;
  @include fullHeight;
  min-width: 1000px;
  background-color: #ecf5ff;
}

html {
  box-sizing: border-box;
  @include fullHeight;
}

#__nuxt{
  @include fullHeight;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.top-buttons{
  text-align: right;
}
.status-Error {
	color: #f44336;
}
.status-Available {
	color: #4caf50;
}
.status-Pending {
	color: #88B7E0;
}
