$black:#37474f;
$nav-height:50px;
.el-header {
  height: $nav-height !important;
  background-color: $black;
  color: #ffffff !important;
  line-height: $nav-height !important;
  i{
    color: #ffffff !important;
  }
  .logo,.menu-nav{
    float: left;
    display: inline-block;
  }
  .menu-nav{
    padding-left: 15px;
  }
  .header-nav{
    float: right;
    padding-right: 15px;
  }
  .header-nav,.menu-nav{
    display: inline-block;
    .el-menu{
      height: $nav-height;
      .el-menu-item.is-active{
        border-bottom-color: #409eff !important;
      }
      .el-menu-item{
        height: $nav-height;
        line-height:$nav-height;
        i[class*=" icon-"], [class^=icon-]{
          color: white;
          font-size: 17px;
          padding: 0 5px;
        }
        [class^=el-icon-]{
          font-size: 20px;
        }
        .el-badge{
          .el-badge__content.is-fixed{
            top: 13px;
          }
        }
      }
      .el-submenu.is-active{
          border-bottom-color: #409eff !important;
          .el-submenu__title{
          border-bottom-color: #409eff !important;
        }
        }
      .el-submenu{
        >.el-menu{
          top: 55px;
        }
        .el-submenu__title.is-active{
          border-bottom-color: #409eff !important;
        }
        .el-submenu__title{
          height: $nav-height !important;
          line-height:$nav-height !important;
          img{
            width: 30px;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
.el-aside{
  position: relative;
  ul.el-menu.sidebar {
    li.toggle-sidebar{
      text-align: center;
      padding: 5px 0;
      a.sider-opened i{
        transform: rotate(90deg);
      }
    }
    .el-submenu i[class^=el-icon-],.el-menu-item i[class^=el-icon-],.el-submenu i[class^=icon-],.el-menu-item i[class^=icon-]{
      margin-right:19px;
      vertical-align: middle;
      width: 24px;
      text-align: center;
      font-size: 18px;
    }
    .el-menu-item, .el-submenu__title{
      height: $nav-height !important;
      line-height: $nav-height !important;
    }
  }
}
.el-aside, .el-main{
  overflow: unset;
}
.el-aside.secSidebar{
  .sec-sidebar-toggle{
    position: absolute;
    top: 42%;
    z-index: 3;
    .sec-sidebar-toggle-inner{
      .sec-sidebar-toggle-collapse-bg{
        width: 0;
        height: 50px;
        position: absolute;
      }
      .sec-sidebar-toggle-collapse-bg.left{
        border-bottom: 9px solid transparent;
        border-left: none;
        border-right: 13px solid #f7f7f7;
        border-top: 9px solid transparent;
      }
      .sec-sidebar-toggle-collapse-bg.right{
        border-bottom: 9px solid transparent;
        border-left: 13px solid #D9DEE4;
        border-top: 9px solid transparent;
      }
      .sec-sidebar-toggle-collapse{
        color: #5e6d82;
        font-size: 15px;
        line-height: 50px;
        cursor: pointer;
      }
    }
  }
  .sec-sidebar-toggle.left{
    right: -2px;
  }
  .sec-sidebar-toggle.right{
    right: -15px;
  }
}
.el-main{
  .top-buttons-list{
    text-align: right;
  }
  .top-buttons{
    text-align: right;
    margin-top: 10px;
  }
  .dop-card{
    .el-card__header{
      background-color: #f4f5f9;
      border-left: 3px solid #778;
      padding: 8px 20px;
      button.el-button{
        float: right;
        padding: 0;
      }
    }
  }
  .dop-form-box{
    .dop-form{
      .el-select{
        display: inline;
      }
      .el-form-item{
        margin-bottom:15px;
        .el-input__inner{
          border-radius:2px;
          padding: 0 8px;
          height:30px;
        }
        .el-date-editor.el-input, .el-date-editor.el-input__inner,.el-input-number{
          width: 100%;
        }
        .el-input-number .el-input__inner{
          text-align: left;
        }
        .el-input-number.is-controls-right .el-input-number__decrease{
          border-radius:0 0 2px;
        }
        .el-input-number.is-controls-right .el-input-number__increase{
          border-radius:0 2px 0 0;
        }
        .dop-date-picker{
          .el-input__inner{
            padding-left: 30px;
          }
        }
      }
      .el-input--small{
        font-size: 14px;
      }
    }
    .dop-form-button-box{
      text-align: center;
    }
  }
 
  .dop-table-list{
    td, th {
      height: 35px;
      padding: 0;
    }
    th{
      color: #1f2d3d;
      background-color: #eef1f6;
      >.cell{
        line-height: 30px;
      }
    }
    td{
      .cell{
        .connect{
          padding:0 5px; 
          cursor: pointer;
          color: #409eff;
        }
      }
    }
  }
  .dop-dialog{
    .el-dialog__body{
      padding: 0px 10px;
    }
    .el-dialog__header{
      .el-dialog__title{
        line-height: 16px;
        font-size: 14px;
      }
    }
    .el-dialog__footer{
      padding: 0 15px 15px;
    }
  }
  .dop-dialog-table{
    .el-dialog__body{
      padding: 0 15px 10px;
    }
  }
  .pager{
    text-align: right;
  }
}
.el-main.main-container{
  overflow-y: auto;
}
/*el-notification__title*/
.dop-notification-msg{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #303133;
  margin: 0;
}
.error{
  color: #f56c6c;
}
.success{
 color: #67c23a;
}
.warning{
  color: #e6a23c;
}
.info{
  color: #909399;
}
.primary{
  color:#409eff;
}
.el-tag.connect_info{
  margin: 0 5px;
  i{
    padding-right: 10px;
  }
}